<template>
    <div class=" bg-gravel-700 rounded-b-lg px-11 ">
        <p class=" font-bold text-4xl text-white ">Calendar</p>
        <div class="pt-8 pb-8 grid grid-cols-6">
            <div class="col-span-3">
                <h1 class="text-xl font-bold text-gray-300">Event</h1>
                <input v-model="payload.name" type="text" class="w-full pl-10 mt-2 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500" placeholder="Name of Event">
                <div class="grid grid-cols-6 gap-x-4 mt-4">
                    <div class="col-span-3">
                        <h1 for="start_date" class="text-xl font-bold text-gray-300">From</h1>
                        <input id="start_date" v-model="payload.start_date" type="date" placeholder="date...." class="w-full mt-2 pr-2 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500">

                    </div>
                    <div class="col-span-3">
                        <h1 for="end_date" class="text-xl font-bold text-gray-300">To</h1>
                        <input id="end_date" v-model="payload.end_date" type="date" placeholder="date...." class="w-full mt-2 pr-2 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500">

                    </div>
                </div>
                <div  class="grid grid-cols-7 mt-5">
                    <div class="flex">
                        <label v-for="day in days_in_week" class="flex items-center mt-3">
                            <input v-model="day.is_selected" type="checkbox" class="form-checkbox h-5 w-5 text-teal-600 ml-3">
                            <span class="ml-1 text-white">{{ day.name }}</span>
                        </label>
                    </div>

                </div>
                <div class="flex justify-center items-center pt-16">
                    <button
                    @click="add_event()"
                    type="button"
                    class="text-center font-bold w-20 shadow-lg border border-dark bg-indigo-500 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-indigo-700 focus:outline-none focus:shadow-outline"
                >Save</button>
                </div>

            </div>
            <div class="pl-5 col-span-3">
                <FullCalendar ref="calendar" :options="calendarOptions" class="font-bold text-white"    />

            </div>
        </div>
    </div>
</template>

<script>
import FullCalendar from '@fullcalendar/vue'
import dayGridPlugin from '@fullcalendar/daygrid'
import interactionPlugin from '@fullcalendar/interaction'
import swal from 'sweetalert2'
export default {
  components: {
    FullCalendar // make the <FullCalendar> tag available
  },
  data() {
    return {
        calendarOptions: {
            plugins: [ dayGridPlugin, interactionPlugin ],
            initialView: 'dayGridMonth',
            dateClick: this.handleDateClick,
            fixedWeekCount: true,
            events:[]
        },
        days_in_week: [
            {
                val: 0,
                name: 'Sun',
                is_selected: false
            },
            {
                val: 1,
                name: 'Mon',
                is_selected: false
            },
            {
                val: 2,
                name: 'Tue',
                is_selected: false
            },
            {
                val: 3,
                name: 'Wed',
                is_selected: false
            },
            {
                val: 4,
                name: 'Thu',
                is_selected: false
            },
            {
                val: 5,
                name: 'Fri',
                is_selected: false
            },
            {
                val: 6,
                name: 'Sat',
                is_selected: false
            },
        ],
        payload: {
            name: '',
            start_date: '',
            end_date: '',
        },
    }
  },
  methods: {
    getCheckboxFilters(){
            var selected = [];

            for( var i = 0; i < this.days_in_week.length; i++){
                if( this.days_in_week[i].is_selected == true){
                    selected.push( this.days_in_week[i].val );
                }
            }

            return selected;
    },

    add_event() {
        let days  = this.getCheckboxFilters();

        axios.post('/events', {
            selected_days: days,
            ...this.payload
        }).then( res => {
            this.getEvents();
            this.$swal('Event Added!');
        }).catch( err => {
            this.$swal('No Event Added');
        });

    },

    getEvents(){
        axios.get('/events').then( res=>{
            console.log(res);
            this.calendarOptions.events = res.data;
        }).catch( err => {
            this.$swal('No event');
        });
    }
  },
  created(){
      this.getEvents();
  }
}
</script>
