<template>
    <div  class=" grid grid-cols-7 mt-5 gap-x-2">
        <label class="inline-flex items-center mt-3">
            <input type="checkbox" class="form-checkbox h-5 w-5 text-gray-600" checked><span class="ml-1 text-white">Mon</span>
        </label>
        <label class="inline-flex items-center mt-3">
            <input type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600 ml-1" checked><span class="ml-1 text-white">Tues</span>
        </label>

        <label class="inline-flex items-center mt-3">
            <input type="checkbox" class="form-checkbox h-5 w-5 text-purple-600 ml-2" checked><span class="ml-1 text-white">Wed</span>
        </label>

        <label class="inline-flex items-center mt-3">
            <input type="checkbox" class="form-checkbox h-5 w-5 text-pink-600 ml-3" checked><span class="ml-1 text-white">Thur</span>
        </label>
        
        <label class="inline-flex items-center mt-3">
            <input type="checkbox" class="form-checkbox h-5 w-5 text-green-600 ml-4" checked><span class="ml-1 text-white">Fri</span>
        </label>
        
        <label class="inline-flex items-center mt-3">
            <input type="checkbox" class="form-checkbox h-5 w-5 text-teal-600 ml-3" checked><span class="ml-1 text-white">Sat</span>
        </label>

        <label class="inline-flex items-center mt-3">
            <input type="checkbox" class="form-checkbox h-5 w-5 text-blue-600 ml-3" checked><span class="ml-1 text-white">Sun</span>
        </label>
    </div>
</template>
<script>
export default {
    data(){
        return{}
    }
}
</script>