<template>
     <div class="h-20 bg-gravel-700 bg-cover bg-center rounded-t-lg flex items-center pl-12">
        <div class="inline-grid grid-cols-3 gap-x-4  ">
            <div class="h-3 w-3 rounded-full   bg-red-500"></div>
            <div class="h-3 w-3 rounded-full   bg-yellow-500"></div>
            <div class="h-3 w-3 rounded-full   bg-green-500"></div>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{}
    }
}
</script>